

body {
  margin: 0;
  background: #0b0f1a; /* soft black / dark navy */
  /* overflow: hidden; */
  
}

.soft-bg {
  position: fixed;
  inset: 0;
  z-index: -1;
}

/* common circle style */
.soft-bg span {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  filter: blur(30px);
  opacity: 0.25;
}

/* Left circle – Royal Blue glow */
.left-circle {
  top: 30%;
  left: -20px;
 background-color: #ffc272; /* Royal Blue */
}

/* Right circle – Deep Blue glow */
.right-circle {
  top: 80%;
  right: -20px;
 background-color: #ffc272; /* Deep Royal Blue */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "poppins";
    background-color: #fff;
    overflow-x: hidden;

}

.clean {
    color: royalblue;
    font-weight: bold;
    font-family: "poppins";
    font-size: 30px;
}

ul {
    display: flex;
    gap: 20px;
    font-weight: bold;
    font-size: 18px;
    list-style-type: none;
    margin-top: 15px;
    color: black;
}

.black {
    color: black;

}

@keyframes sahil {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.anime {
    animation: 10s sahil linear infinite;
    white-space: nowrap;
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    color: black;
    /* background-color: royalblue; */
    backdrop-filter: blur(20px);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 999;


}
.gsap {
    height: 20px;
    width: 20px;
    background: linear-gradient(45deg, #00ffff, #8a2be2); 
    border-radius: 50%; 
    position: fixed;
    pointer-events: none;
    border: 2px solid #00ffff;
    box-shadow: 0 0 10px #00ffff, 0 0 20px #8a2be2, 0 0 30px #8a2be2;
    transition: width 0.15s ease, height 0.15s ease, border-radius 0.2s ease, box-shadow 0.2s ease;
}


a {
    text-decoration: none;
    color: white
}

li:active {
    color: blue;
}

.red {
    color: royalblue;
    /* font-family: "moon dance";
    font-size: 60px; */
}

.resize {
    width: 150px;
    margin-top: 200px;
}

.resize2 {
    width: 100px;
    height: 100px;
}

.resize1 {
    width: 80px;
    height: 80px;
    margin-top: 10px;
}

.gap100 {
    gap: 50px;
}

.resize3 {
    width: 80px;
    height: 80px;
    margin-top: 12px;

}

li {
    color: black;
}

li:hover {


    
    color: blue;

}

.thik {
    white-space: nowrap;
    font-size: 150px;


}

.me {
    border-radius: 10px 40px 10px 40px;
    height: 550px;
    width: 550px;
    margin-left: 40px;
    margin-top: 30px;


}

.section1 {
    padding: 20px 50px;
}

.con {
    color: rgba(0, 0, 0, 0.644);
    margin-top: 160px;
    font-size: 40px;
    margin-left: 2%;
}

.sahil {
    color: rgba(255, 255, 255, 0.783);
}

.cv2 {
    padding: 15px;
    border-radius: 15px;
    color: white;
    font-family: "poppins";
    background-color: royalblue;
}

.cv2:hover {
    transform: scale(1.06) translateY(-5px);
    background-color: transparent;
    color: black;
    cursor: pointer;
    
}

#element {
    /* font-family: "poppoins"; */
    color: royalblue;
    font-weight: bolder;
}

.s {
    margin-left: 70px;
}

.section2 {
    padding: 100px 50px;

}

.badaaa {
    font-size: 40px;
    color: royalblue;
    margin-left: 44%;
    font-weight: 300;
}

h1 {
    font-size: 60px;
}

.name {
    color: black;
    font-family: "poppins";
    font-weight: bold;
    font-size: 22px;
}

.gap10 {
    gap: 20px;
    margin-left: 20px;
}

.t {
    margin-top: 7px;
}

.about {
    color: rgba(0, 0, 0, 0.751);
    font-family: "poppins";
    line-height: 1.7;
    font-size: 18px;
}

.left {
    margin-top: 20px;
}

.i {
    background-color: royalblue;
    display: inline-block;
    color: white;
    padding: 5px;
    margin-top: 20px;
    border-radius: 10px;
}

.i2 {
    background-color: royalblue;
    display: inline-block;
    color: white;
    padding: 5px;
    margin-top: 45px;
    margin-left: 25%;
    border-radius: 10px;

}

.flex {
    display: flex;
}

.cv {
    background-color: royalblue;
    color: white;
    font-family: "poppins";
    padding: 10px;
    border-radius: 15px;
    border: 1px solid royalblue;

}

.cv:hover {
    background-color: black;
    border: none;
    color: white;

    transition: all 0.3s ease;
}

.a {


    background: black;
    color: white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    justify-content: center;
    justify-content: center;
    /* vertical center */
    align-items: center;
    padding: 5px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);

}
.a:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.center {
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    font-family: "poppins";

}

.b {
    font-size: 25px;
}

.upper {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.gap6 {
    column-gap: 110px;
}

.side {
    margin-top: 60px;
    margin-left: 15%;
}

.c {
    font-size: 15px;
}

.c2 {
    font-size: 12px;
}

.wrap {
    flex-wrap: wrap;
}

.small {
    font-size: 12px;
    /* margin-left: 20px; */
}

.top {
    margin-top: 10px;

}



.section3 {
    padding: 100px 50px;

}

.box {
    width: 100%;
    /* border: 1px solid #ecefec; */
    padding: 50px;
    border-radius: 20px;
    /* background-color:#ecefec; */
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);

}

.bor1 {
    width: 400px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(to right, royalblue 98%, transparent 50%);
}

.bor5 {
    width: 400px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(to right, royalblue 95%, transparent 50%);
}

.bor6 {
    width: 400px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(to right, royalblue 90%, transparent 50%);
}


.bor2 {
    width: 400px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(to right, royalblue 90%, transparent 50%);
}

.bor3 {
    width: 400px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(to right, royalblue 85%, transparent 50%);
}

.bor4 {
    width: 400px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(to right, royalblue 85%, transparent 50%);
}

.flex {
    display: flex;
}

.sklills1 {
    margin-left: 30px;
}


.gap {
    column-gap: 300px;
}

.sk {
    text-align: center;
    font-family: "poppins";
    color: royalblue;
}

.top {
    margin-top: 50px;
    ;
}

h3 {
    font-family: "poppins";
}

.section4 {
    padding: 100px 70px;
}

.proper {
    width: 500px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
}

.p {
    font-family: "poppins";
}

.gap2 {
    column-gap: 40px;
}

.row {
    row-gap: 40px;
}

.sk2 {
    text-align: center;
    font-family: "poppins";
    color: royalblue;
    font-size: 40px;
}

.sk3 {
    text-align: center;
    font-family: "poppins";
    color: royalblue;
    font-size: 40px;
    margin-top: 50px;
}

.top2 {
    margin-top: 70px;
    margin-left: 50px;
}

.x {
    margin-top: 150px;
}

.proper2 {
    width: 400px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
}

.gap4 {
    column-gap: 80px;
}

.blue {
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    font-family: "poppins";
    background-color: royalblue;
    cursor: pointer;

}

.blue:hover {
    color: royalblue;
    background-color: transparent;
    border: 2px solid royalblue;
}

.cont {
    width: 30%;
    padding: 20px 10px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
}
.cont1{
    width: 30%;
    padding: 20px 10px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
}
.cont2 {
    width: 30%;
    padding: 20px 10px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
}

.cen {
    text-align: center;
}

.sen {
    margin-left: 45%;

}

.num {
    color: blue;
    text-decoration: underline;
}

.left2 {
    margin-left: 5%;
}

input,
textarea {
    width: 50%;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid black;
    margin: 5px;
    font-size: 16px;
    resize: none;
}

input:focus,
textarea:focus {
    border: 2px solid royalblue;
    outline: none;
}

.cv3 {
    padding: 15px;
    background-color: royalblue;
    font-family: "poppins";
    border-radius: 5px;
}


.center {
    margin-left: 3%;
}

.footer {
    padding: 20px 50px;
    color: black;
    text-align: center;

}

.footer span {
  color: #ff4d6d; 
  animation: beat 1s infinite;
}

@keyframes beat {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.3); }
}


.skill {
    margin: 20px 0;
}

.skill p {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.skill-bar {
    width: 0;
    height: 20px;
    background-color: #ff4d4d;
    /* Red color for animation */
    border-radius: 10px;
    transition: width 2s ease-in-out;
}



.ooo {
    width: 100%;
}
.development {
    gap:30px;
    
    
   
    
}

/* .development img{
    width: 50px;
} */

.d{
    width: 50px;
    height: 50px;
}
.aa{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 270px;
}

.aaa{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
}
.me{
    margin-left: 150px;
}


/* 
@media (max-width: 576px){

  nav{
    flex-direction: column;
    padding: 10px;
  }

  nav ul{
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
  }

  h1{
    font-size: 34px;
  }

  .thik{
    font-size: 50px;
    white-space: nowrap;
    text-align: center;
  }

  .con{
    font-size: 22px;
    margin-top: 120px;
    text-align: center;
  }

  .me{
    width: 100%;
    max-width: 320px;
    margin: auto;
  }

  .section1,
  .section2,
  .section3,
  .section4{
    padding: 40px 15px;
  }

  .flex,
  .gap,
  .gap2,
  .gap4,
  .row{
    flex-direction: column;
    align-items: center;
  }

  .scroll img{
    width: 45px;
    height: 45px;
  }

  .development{
    grid-template-columns: repeat(3, 1fr);
  }

  .proper,
  .proper2,
  .cont,
  .cont1,
  .cont2{
    width: 100%;
    max-width: 100%;
  }

  input,
  textarea{
    width: 100%;
    font-size: 14px;
  }

}

@media (max-width: 992px){

  nav ul{
    gap: 12px;
    font-size: 16px;
  }

  h1{
    font-size: 45px;
  }

  .thik{
    font-size: 90px;
  }

  .section1,
  .section2,
  .section3,
  .section4{
    padding: 60px 30px;
  }

  .flex,
  .gap,
  .gap2,
  .gap4{
    flex-wrap: wrap;
    justify-content: center;
  }

  .me{
    max-width: 420px;
  }

  .scroll img{
    width: 55px;
    height: 55px;
  }

  .development{
    grid-template-columns: repeat(5, 1fr);
  }

  .proper,
  .proper2{
    max-width: 90%;
  }

  input,
  textarea{
    width: 80%;
  }

}
@media (min-width: 1200px){

  .section1,
  .section2,
  .section3,
  .section4{
    padding: 100px 80px;
  }

  h1{
    font-size: 60px;
  }

  .thik{
    font-size: 150px;
  }

  .scroll img{
    width: 70px;
    height: 70px;
  }

  .development{
    grid-template-columns: repeat(8, 1fr);
  }

} */
